MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.kejfeww.mongodb.net/bookyourseat?appName=Cluster0
MAIL_USERNAME=<EMAIL_USERNAME>
MAIL_PASSWORD=<EMAIL_APP_PASSWORD>
GOOGLE_MAPS_API_KEY=<GOOGLE_MAPS_API_KEY>
OPENAI_API_KEY=<OPENAI_API_KEY>
